// ============
// Colours
// ============

// Brand ============
$violet:    #9F4585;
$red:       #e41b13;
$orange:    #ffa004;
$blue:      #00a8cc;
$green:     #6FC03E;

// Name-spacing ============
$primary:         $green;
$primary-light:   hsl(hue($primary), saturation($primary), 75%);
$primary-dark:    hsl(hue($primary), saturation($primary), 25%);
$secondary:       $orange;
$secondary-light: hsl(hue($secondary), saturation($secondary), 75%);
$secondary-dark:  hsl(hue($secondary), saturation($secondary), 25%);
$tertiary:        $violet;
$tertiary-light:  hsl(hue($tertiary), saturation($tertiary), 75%);
$tertiary-dark:   hsl(hue($tertiary), saturation($tertiary), 25%);

// Tones ============
$black:      #000;
$grey-dark:  #4a4a4a;
$grey-med:   #adadad;
$grey-light: #cecece;
$border:     #ececec;
$off-white:  #fafafa;
$white:      #fff;

// Text ============
$text:        $grey-dark;
$text-light:  $grey-med;
$link:        $blue;
$active:      $violet;
$highlight:   $active;

// Messages ============
$error:   $red;
$info:    $blue;
$success: $green;
$warning: $orange;
